.body-fetch-data-characters {
  background-color: #333;


  .title-products {
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color: white;
    z-index: -2;
    margin-bottom: 10px;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    padding: 20px;
    padding-bottom: 100px;
    grid-gap: 20px;

    .card {
      background-color: rgb(18, 0, 36);
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
      height: 100%;



      .container {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


        .imageNew {
          width: 100%;
          height: 300px;
          display: block;
          border-radius: 20px 20px 0 0;
        }


      }

      .details {
        height: 100px;

        h3 {
          color: #ffffff;
          font-weight: 700;
          font-size: 25px;
          text-align: center;
        }

        p {
          display: none;
          color: #a0a0a0;
          font-size: 15px;
          line-height: 30px;
          font-weight: 400;

        }
      }


      .icon-bookmark {
        position: relative;
        margin-left: 75%;
        bottom: 5%;
        display: flex;
        gap: 25px;

        .heart {
          font-size: 20px;
          color: white;
          opacity: 50%;
          cursor: pointer
        }

        .heart-active {
          color: red;
          opacity: 1;
        }



        .hide {
          font-size: 18px;
          color: white;
          opacity: 50%;
          cursor: pointer
        }

        .hide-active {
          color: yellow;
          opacity: 1;
        }



      }

    }

    .not-found {
      color: white;
      font-size: 40px;
      text-align: center;
      padding-top: 25%;
    }
  }
}