.filter-bar-form {
  top: 60px;
  padding: 30px 0 15px 0;
  background-color: red;
  position: fixed;
  width: 100vw;
  z-index: 1;


  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;


    .filters {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .selects {
        width: 50%;
      }
    }

    .detele-all {
      background-color: rgb(92, 2, 2);
      color: white;
      width: 200px;
      height: 30px;
      padding: 0;
      margin: 0;
      border-radius: 10px;
    }
  }
}