.home {
  background-color: rgb(211, 11, 11);
  height: 80vw;


  //background-image: url('https://media.vandal.net/i/1200x630/9-2022/20229923131915_1.jpg');

  .footer {
    position: fixed;
    bottom: 0;
    background: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7%;
    z-index: 2;

  }

  .section-stan {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 0, 0);
    padding: 20px 0 20px 0;
    margin-bottom: 20px;


    .stan-img {
      height: 150px;
      margin-left: 50px;
      border-radius: 20px;
    }

    .text {
      text-align: center;
      padding: 20px;
      color: white;
    }
  }

  .someRandom {
    font-size: 18px;
    color: rgb(97, 3, 3);
    height: 400px;
    text-align: center;


    h2 {
      font-size: 36px;
      color: white;
      padding-bottom: 30px;
    }

    .container2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding-left: 10%;
      background-color: rgb(211, 11, 11);

      .text-name {
        text-align: start;
        margin-left: 50px;
      }

      .square {
        width: 200px;
        height: 200px;
        border: 1px solid rgb(97, 3, 3);
        border-radius: 10px;

        .square-img {
          width: 100%;
          border-radius: 10px;
        }

      }
    }
  }
}