.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .container-modal {
    width: 500px;
    min-height: 100px;
    background-color: #222;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    color: white;

    .title-cotainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e8e8e8;

      .title {
        font-weight: 500;
        font-size: 16px;
        color: #FFF;
      }

    }

    .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      border: none;
      background-color: none;
      cursor: pointer;
      transition: 0.3s ease all;
      border-radius: 5px;
      color: #333;

      &:hover {
        color: red;
      }
    }

    .container-data {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        vertical-align: top;
        border-radius: 3px;
      }

      .button-delete {

        background-color: red;
        color: white;
        width: 150px;
        height: 30px;
        border-radius: 10px;
        cursor: pointer
      }
    }
  }
}