.bookmarks-page {
  background-color: #333;
  height: 100vh;

  .bookmarks {
    background-color: #333;


    .title-products {
      font-size: 2.4rem;
      padding: 10rem 0 0 0;
      color: white;
      z-index: -2;
      margin-bottom: 10px;
      text-align: center;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      padding: 20px;
      padding-bottom: 100px;
      grid-gap: 20px;


      .card {
        background-color: rgb(18, 0, 36);
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
        height: 100%;

        .container {
          position: relative;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


          .imageNew {
            width: 100%;
            height: 300px;
            display: block;
            border-radius: 20px 20px 0 0;
          }


        }

        .details {


          h3 {
            color: #ffffff;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
          }

          p {

            color: white;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            text-align: center;

          }
        }

        .button-delete {
          margin-left: 20px;
          background-color: red;
          color: white;
          width: 150px;
          height: 30px;
          border-radius: 10px;
          margin-bottom: 20px;
        }

        .icon-bookmark {
          position: relative;
          left: 75%;
          bottom: 5%;
          display: flex;
          gap: 25px;

          .hide {
            font-size: 18px;
            color: white;
            opacity: 50%;
            cursor: pointer
          }

          .hide-active {
            color: yellow
          }

          .heart {
            font-size: 20px;
            color: red;
            opacity: 50%;
            cursor: pointer
          }


        }
      }

      .not-found {
        color: white;
        font-size: 40px;
        text-align: center;
        padding-top: 25%;
      }

      .title-no-items {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .no-item {
          text-align: center;
        }
      }
    }
  }
}